@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.preloader {
  background: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999 !important;
  position: absolute;
}

.btn {
  padding: 10px 30px;
  border: 2px solid #ff2c6f;
  border-radius: 0px;
}

.btn-brand {
  color: #000 !important;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}

.hvr-sweep-to-right::before {
  background: #ff2c6f;
}

.pt-90 {
  padding-top: 80px;
}

.pb-90 {
  padding-bottom: 80px;
}

.text-brand {
  color: #ff2c6f;
}

.section-caption {
  max-width: 620px;
  margin: 0px auto 45px auto;
}
.section-caption h2 {
  font-size: 35px;
  font-weight: 700;
}
.section-caption h2 span {
  color: #ff2c6f;
}
.section-caption p {
  font-size: 16px;
  line-height: 27px;
  margin-top: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .navbar {
  padding: 25px 0px;
  transition: 0.5s all;
}
header .navbar .navbar-nav .nav-item {
  margin: 0px 6px;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.5s all;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ff2c6f;
}
header .navbar .navbar-nav .nav-item .active {
  color: #ff2c6f;
}
header .stickynav {
  background: #000;
  padding: 20px 0px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 768px) {
  header .navbar {
    background: #000;
    padding: 20px 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  header .navbar .navbar-nav {
    text-align: center;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 10px 0px;
  }
  header .navbar .navbar-toggler {
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 15px;
  }
  header .navbar .navbar-toggler i {
    font-size: 20px;
    color: #ff2c6f;
  }
  .min-vh-100 {
    height: 90vh !important;
  }
}
.banner {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner .banner-text h4 {
  font-size: 22px;
  font-weight: 500;
}
.banner .banner-text h1 {
  font-size: 46px;
  font-weight: 700;
}
.banner .banner-text .btn-brand {
  color: #fff !important;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

.aabout .about-right h2 {
  font-size: 35px !important;
  font-weight: 700;
  color: #000;
}
.aabout .about-right h2 span {
  color: #ff2c6f;
}
.aabout .about-right p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px;
  letter-spacing: 0px;
  line-height: 26px;
}
.aabout .about-right .btn-brand:hover {
  color: #fff !important;
}

.services {
  background-color: #f6f4f7;
}
.services .single-services {
  padding: 20px 20px;
  transition: 0.5s all;
  position: relative;
  transition: 0.5s all;
  z-index: 1;
  margin: 10px 10px;
}
.services .single-services.single-services::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: pink_color;
  height: 0;
  width: 100%;
  transition: 0.5s all;
  z-index: -1;
  background: #ff2c6f;
}
.services .single-services:hover.single-services::after {
  height: 100%;
  transition: 0.5s all;
  color: #fff;
}
.services .single-services i {
  font-size: 45px;
  transition: 0.5s all;
}
.services .single-services h4 {
  margin: 20px 0px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 25px;
  transition: 0.5s all;
}
.services .single-services p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  transition: 0.5s all;
}
.services .single-services:hover i {
  color: #fff;
}
.services .single-services:hover h4 {
  color: #fff;
}
.services .single-services:hover p {
  color: #fff;
}

.portfolio .single-portfolio {
  position: relative;
  z-index: 1;
  transition: 0.5s all;
  margin: 10px 10px;
}
.portfolio .single-portfolio.single-portfolio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #000;
  z-index: 0;
  opacity: 0;
  transition: 0.5s all;
}
.portfolio .single-portfolio:hover.single-portfolio::after {
  opacity: 1;
  transition: 0.5s all;
  height: 100%;
}
.portfolio .single-portfolio .portfolio-hover {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  opacity: 0;
  transition: 0.5s all;
}
.portfolio .single-portfolio .portfolio-hover a {
  color: #fff !important;
}
.portfolio .single-portfolio:hover .portfolio-hover {
  opacity: 1;
  top: 50%;
}

.work {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.work.work::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
.work .work-content {
  max-width: 620px;
  margin: 0px auto;
}
.work .work-content h3 {
  font-size: 28px;
  font-weight: 650;
}
.work .work-content p {
  line-height: 27px;
}
.work .work-content a {
  color: #fff !important;
}

.contact {
  background: #f6f4f7;
}
.contact .contact-link {
  background: #fff;
  padding: 20px 20px;
  margin: 10px 10px;
}
.contact .contact-link i {
  font-size: 30px;
  color: #ff2c6f;
}
.contact .contact-link p {
  margin: 15px 0px;
}
.contact .contact-form {
  background: #fff;
  margin-top: 45px;
  padding: 30px 30px;
  border-top: 2px solid #ff2c6f;
  border-bottom: 2px solid #ff2c6f;
  position: relative;
}
.contact .contact-form .sing-form-box {
  margin: 10px 10px;
}
.contact .contact-form .sing-form-box .form-control {
  border-radius: 0px;
  padding: 10px 10px;
  border: 2px solid #000;
}
.contact .contact-form .sing-form-box .form-control:focus {
  outline: #ff2c6f;
  box-shadow: none;
  border: 2px solid #ff2c6f;
}
.contact .contact-form.contact-form::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 0;
  width: 2px;
  background-color: #ff2c6f;
  transition: 0.5s all;
}
.contact .contact-form:hover.contact-form::after {
  height: 100%;
}
.contact .contact-form.contact-form::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 0;
  width: 2px;
  background-color: #ff2c6f;
  transition: 0.5s all;
}
.contact .contact-form:hover.contact-form::before {
  height: 100%;
}

footer {
  padding: 30px 0px;
  background: #000;
  color: #fff;
}
footer .footer-text strong {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

.sccrolltotop {
  z-index: 9999;
}
.sccrolltotop .material-scrolltop {
  background: #ff2c6f;
}
.sccrolltotop .material-scrolltop I {
  font-size: 20px;
  color: #fff;
}
