// google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

// variables
$pink_color: #ff2c6f;
$white_color: #fff;
$black_color: #000;
$secbg_Color: #f6f4f7;
$transtion: 0.5s all;

.btn {
  padding: 10px 30px;
  border: 2px solid $pink_color;
  border-radius: 0px;
}

@mixin para {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn-brand {
  color: $black_color !important;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}

.hvr-sweep-to-right::before {
  background: $pink_color;
}

.pt-90 {
  padding-top: 80px;
}

.pb-90 {
  padding-bottom: 80px;
}

.text-brand {
  color: $pink_color;
}

.section-caption {
  max-width: 620px;
  margin: 0px auto 45px auto;

  h2 {
    font-size: 35px;
    font-weight: 700;

    span {
      color: $pink_color;
    }
  }

  p {
    font-size: 16px;
    line-height: 27px;
    margin-top: 10px;
  }
}

// reset default
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


